[submodule "libraries/ESPAsyncTCP"]
	path = libraries/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP.git
[submodule "libraries/ESPAsyncWebServer"]
	path = libraries/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "libraries/TFT_ILI9163C"]
	path = libraries/TFT_ILI9163C
	url = https://github.com/sumotoy/TFT_ILI9163C.git
[submodule "libraries/async-mqtt-client"]
	path = libraries/async-mqtt-client
	url = https://github.com/marvinroger/async-mqtt-client.git
[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "libraries/TinyXML"]
	path = libraries/TinyXML
	url = https://github.com/adafruit/TinyXML.git
