[submodule "libraries/ESPAsyncTCP"]
	path = libraries/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP.git
[submodule "libraries/ESPAsyncWebServer"]
	path = libraries/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "libraries/TFT_ILI9163C"]
	path = libraries/TFT_ILI9163C
	url = https://github.com/sumotoy/TFT_ILI9163C.git
